#thumbs li{
	display:inline;
	background:none;
	border:none;
	width:75px;
	height:75px;
	margin:2px;
	padding:0;
	float:left;
}

#thumbs li img{
	margin:0;
	padding:0;
}

#thumbs ul{
	border:none;
	display:block;
	margin:2px;
	padding:0;
}

#thumbs .count{
	clear:left;
	width:auto;
	text-align:center;
	line-height:24px;
	margin:0px;
}

#thumbs{
	padding:2px 0;
	background:#FFF;
}

/*About Section*/
.copy{
	margin:0 10px;
}
p{
	margin:5px 0;
}

/*Single Image View*/
#heroImage{
	display:block;
	margin:0 auto;
}

.bottomnav{
	display:block;
	position:relative;
	width:auto;
	height:40px;
	background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
	color:#FFF;
}